body {
    /*background-color: #8FD2E1;*/
    background-image: linear-gradient(to right, #77CCDE, #8FD2E1)
  }

* {
    font-family: 'Roboto Mono';
    text-align: center;
}
h1 {
    margin-top: 120px;
    margin-bottom: 2%;
    display: block;
    font-size: 120px;
    font-family: 'Montserrat';
}
h3 {
    font-size: 30px;
}
.message {
    font-size: 18px;
}
.options {
    font-size: 19px;
}
.home {
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #77CCDE;
}
.back {
    padding: 10px;
    margin-top: 10px;
    background-color: #77CCDE;
}
button {
    animation-name: button;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes button {
    
}